#studentGender, #studentGrade, #studentColleges, #studentMajor, #studentDoubleMajor{
	font-size: .8rem;
	border-radius: 10rem;
	padding: .5rem .75rem;
}
#idCheck{
	line-height: 0.2;
}
#dmj {
	line-height: 2;
}
h4, #memberDoubleMajor{
	text-align:center;
}
.h4{
	font-size:1.0rem;
}
input[type="radio"] {
	width:13px; 
	height:13px; 
	margin:0 0 2px; 
	padding:0; 
	border: 1px solid #FFF; 
	vertical-align:middle;
	}
.user{	
	text-align:center;
}
.row1{
	margin-left:30%;
}
#pwValue {
	padding: 15px 5px 15px 5px;
	height: 100%;
	width: 100%;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
	
}

#icon1, #icon2{
    color:gray;
    cursor:pointer;
}
#icon1 {
	position: absolute;
    left: 400px;
    top: 240px;
}

#icon2 {
	position: absolute;
    left: 400px;
    top: 305px;
}