.slider img{
	margin:0 auto;
}

.homeList {
	margin:0 auto;
}

.table {
	min-width: 300px;
	min-height: 50px;
	table-layout: fixed;
}

#tableTitle {
	width: 65%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#tableDate {
	width: 35%;
}