<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mju.groupware.dao.LectureRoomDao">
	<select id = "SelectLectureRoomList" resultType = "com.mju.groupware.dto.LectureRoom">
		select LectureRoomNo, RoomLocation, RoomFloor, MaxNumOfPeople, RoomType
		from LectureRoom
	</select>
	
	<select id="SelectMaxNumOfPeople" resultType = "Integer">
		Select MaxNumOfPeople from LectureRoom where LectureRoomNo = #{lectureRoomNo}
	</select>
	
	<select id="SelectLoginUserIDForLecture" parameterType = "com.mju.groupware.dto.LectureRoom" resultType="String">
		select UserID from User where UserLoginID = #{loginID}
	</select>
	
	<insert id="InsertReservation" parameterType="com.mju.groupware.dto.UserReservation">
		insert into UserReservation(
			ReservationDate, ReservationStartTime, ReservationEndTime, 
			ReservationNumOfPeople, LectureRoomNo, UserID
		) 
		values(
			#{ReservationDate}, #{ReservationStartTime}, #{ReservationEndTime}
			,#{ReservationNumOfPeople} ,#{LectureRoomNo}, #{UserID}
		)
	</insert>
	
	<select id="SelectStartTime" resultType="com.mju.groupware.dto.UserReservation">
		select ReservationStartTime from UserReservation where LectureRoomNo = #{lectureRoomNo}
	</select>
	
	
</mapper>