<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mju.groupware.dao.SearchDao">

	<select id="SelectKeyWord"
		parameterType="com.mju.groupware.dto.SearchKeyWord" resultType="com.mju.groupware.dto.User">
		Select
		* from User where UserName = #{key};
	</select>
</mapper>