/* 메인 */
a {
	text-decoration: none
}

.mjsWs {
	width: 100%
}

.mheader {
	height: 110px;
	clear: both
}

.mfooter {
	position: relative;
	clear: both;
	width: 100%;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ccc;
	text-align: center;
	height: 90px;
	vertical-align: middle;
	background: #fff;
	z-index: 110
}

.mbody {
	clear: both;
	position: relative;
	min-width: 1000px;
	_height: 1px;
	_margin: 0 10px 0 980px;
	z-index: 1;
	display: block;
	min-height: 1px;
	padding: 0;
	overflow: hidden;
}
/*header*/
.menubar {
	min-width: 1200px;
	overflow: hidden;
	background: #0943a6;
	_height: 1px;
	clear: both;
	height: 100%
}

.menubarWidth {
	position: relative;
	float: left;
	width: 100%;
	_width: auto;
	_height: 1px;
	_margin: 0;
	padding: 0;
	_display: inline;
}

.menubar .menubarMid {
	float: left;
	width: 100%;
	margin-left: -30px;
	margin-right: -10px;
	padding: 25px 0 0 0;
	background-position: 20% bottom;
}

.menubarMid ul {
	clear: both;
	list-style-type: none;
	margin: 0;
	padding: 0
}

.menubar .menubarMid ul.topInfo {
	clear: both;
	float: right;
	margin: 0 0 25px 0;
	overflow: hidden
}

.menubar .menubarMid ul.topInfo li {
	float: left;
	padding: 0 8px
}

.menubar .menubarMid ul.topInfo li a {
	font-size: 13px;
	color: #fff
}

.menubarMid ul.topMenu {
	margin: 0 0 0 30px;
	height: 50px;
	position: relative;
	overflow: hidden;
	width: 106%;
	background: #083788
}

.menubarMid ul.topMenu li {
	float: left;
	width: 10%;
	text-align: center;
	font-weight: bold;
	line-height: 50px;
	font-size: 15px;
}

.menubarMid ul.topMenu li.tMenu {
	margin: 0;
	padding: 0
}

.menubarMid ul.topMenu li.tMenu a {
	display: block;
	height: 100%;
	line-height: 40px;
	text-align: center;
	font-weight: 600;
	color: #e4f4ff
}

/*body*/

.mbody .rightBox {
	height: 80%;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	padding: 10pt;
	min-height: 100pt;
	margin-bottom:10px;
}

h2 { color: skyblue; }



a {
	color: black;
}


.section2 {
	height: 80%;
}

table {
	margin-left: auto;
    margin-right: auto;
}

#title {
	height: 10%;
}

#receive {
	height: 10%;
}

#content {
	height: 80%;
}

.inputBox {
	background-color: white;
}


#bulletinTitle {
	width: 1000px;
	height: 30px;
}
#bulletinContent{
	width: 1000px;
	height: 500px;
}
#bulletinWriter, #bulletinDate {
	width: 493px;
	height: 30px;
}

#emailContent {
	width: 1000px;
	height: 400px;
}

#listButton {
	float: right;
	margin-top:100px;
	border: 1px solid #ccc;
	padding: 15px 10px 14px 10px;
	height: 50px;
	margin: 0;
	width: 100px;
	line-height: 21px;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 17px;
	background: skyblue;
	border-radius: 5px;
}