
.container{
    display: flex;
    justify-content: center;
}
#signup{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%; height: 100%;
    margin-top: 100px;
    min-height: 100%;
    padding: 15px;
}

h2{ color: steelblue; }
#form{margin-top: 30px;}
table{
    margin-left: auto; margin-right: auto;
    text-align: left;
}
#idcheck, #email_check, #email_valid{
    text-align: center;
    border: 1px solid #ccc;
    padding: 15px 10px 14px 10px;
    height: 100%;
    margin-top: 10px; margin-left: 10px;
    font-size:13px;
    box-sizing: border-box;
    color:#000;
}
.inputBox{
    border: 1px solid #ccc;
    padding: 15px 10px 14px 10px;
    height: 100%;
    margin:0;
    width: 100%;
    font-size:14px;
    box-sizing: border-box;
    color:#000;
    margin-top:10px;
}
.col1{ width: 25%; }
.col2{ width: 60%; }
.col3{ width: 15%; }

#submit{
    border: 1px solid #ccc;
    padding: 15px 10px 14px 10px;
    height: 50px;
    margin:0;
    width:45%;
    line-height:21px;
    box-sizing: border-box;
    color:white;
    margin-top:10px;
    cursor:pointer;
    font-weight:bold;
    font-size:17px;
    background:skyblue;
    border-radius: 5px;
}
.mjs_ws {width:100%}
.mjs_ws_header {height:110px; clear:both}
.mjs_ws_footer {position:relative; clear:both; width:100%; bottom:0; left:0; border-top:1px solid #ccc; text-align:center; height:90px; vertical-align:middle; background:#fff; z-index:110}

.mju_ws_body {clear:both; position:relative; min-width:1000px; _height:1px; _margin:0 10px 0 980px; z-index:1; display:block; min-height:1px; padding:0; overflow:hidden;  }

.top_menu_total {min-width:1200px; overflow:hidden; background:#0943a6; _height:1px; clear:both; height:100%}
.top_menu_gwidth {position:relative; float:left; width:100%; _width:auto; _height:1px; _margin:0; padding:0; _display:inline;}

/*.top_menu_logo {position:relative; float:left; background:url() no-repeat; background-position:left top; width:280px; height:58px;}
.top_menu_total .top_menu_logo h1 {padding:15px 0 0 30px}*/

.top_menu_total .top_menu_mid {float:left; width:100%; margin-left:-30px; margin-right:-10px; padding:25px 0 0 0; background-position:20% bottom; }
.top_menu_mid ul {clear:both; list-style-type:none; margin:0; padding:0}


.top_menu_total .top_menu_mid ul.top_info {clear:both; float:right; margin:0 0 25px 0; overflow:hidden}
.top_menu_total .top_menu_mid ul.top_info li {float:left; padding:0 8px}
.top_menu_total .top_menu_mid ul.top_info li a {font-size:13px; color:#fff}
.top_menu_total .top_menu_mid ul.top_info li a:hover {color:#fff}
/*.top_menu_total .top_menu_mid ul.top_info li i {font-size:15px; color:#f1f6fa; margin-right:5px; vertical-align:-2px}*/

.top_menu_mid ul.top_menu {margin:0 0 0 30px; height:50px; position:relative; overflow:hidden; width:100%; background:#083788}
.top_menu_mid ul.top_menu li {float:left; width:9%; text-align:center;font-weight:bold; line-height:50px; font-size:15px;}
.top_menu_mid ul.top_menu li.t_menu{margin:0; padding:0}
.top_menu_mid ul.top_menu li.t_menu a{display:block; height:100%; line-height:40px; text-align:center; font-weight:600; color:#e4f4ff}

.mcont_gwidth {position:relative; width:100%; padding:0; background:#f1f1f1; padding:10px; padding-bottom:0px; box-sizing: border-box; overflow: hidden; }
