<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mju.groupware.dao.StudentDao">

	<!-- 회원가입 -->
	<insert id="StudentInsert"
		parameterType="com.mju.groupware.dto.Student">
		insert into student (
		studentGrade,
		studentGender,
		studentDoubleMajor,
		userID
		) values(
		#{studentGrade},
		#{studentGender},
		#{studentDoubleMajor},
		#{userID}
		)
	</insert>

	<update id="UpdateUserID"
		parameterType="com.mju.groupware.dto.Student">
		update student
		set userID = #{userID}
		where studentNum =
		#{studentNum}
	</update>

	<select id="GetGrade" resultType="String">
		select
		StudentGrade
		from
		Student
		where StudentID = #{UserId};
	</select>

	<select id="GetMyPageUserInfo" parameterType="String"
		resultType="com.mju.groupware.dto.Student">
		select
		StudentGrade,
		StudentGender,
		StudentDoubleMajor
		from
		Student
		where StudentID = #{UserId};
	</select>
</mapper>